<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.email %}
            <li>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=016e764oW7UxzgGM8WS45saw==&amp;c=bX6dc_h6HRX9dgG6IRjWZUVy0cD3GZRdwtLgW7iMlk0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d016e764oW7UxzgGM8WS45saw\x3d\x3d\x26c\x3dbX6dc_h6HRX9dgG6IRjWZUVy0cD3GZRdwtLgW7iMlk0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address"><i class="fa fa-envelope"></i> Email</a>
            </li>
          {% endif %}
          
          {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github"></i> GitHub
              </a>
            </li>
          {% endif %}
          
          {% if site.linkedin_username %}
            <li>
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin"></i> LinkedIn
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
